.feature {
  &-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, auto);
  }
  &-card {
    padding: 30px;

    &-body {
      display: flex;
      align-items: center;
    }
    &-icon {
      color: $primary;
      height: 40px;
      width: 40px;
      margin-right: 1rem;
    }
    &-title {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 1.2;
    }
  }
}
