.offerProduct {
  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  &-card {
    background-color: $secondary;

    &-body {
      height: 250px;
      position: relative;
    }

    &-content {
      height: 100%;
   
      padding: 5rem;
      z-index: 1;
    }
    &-image {
      transition: 300ms ease-in-out all;
      position: absolute;
      max-width: 50%;
      max-height: 90%;
    }
    &-subtitle {
      font-size: 1.25rem;
      margin-bottom: 1rem;
      color: $primary;
      text-transform: uppercase;
      font-weight: 500;
    }
    &-title {
        margin: auto;
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 1.2;
      margin-bottom: 1.5rem;
    }
    &-imgCon {
      overflow: hidden;
      margin-bottom: 1rem;
    }
  }
}
