html,
body {
  margin: 0;
  padding: 0;
  background-color: azure;
  //height: 100vh;
  font-family: $typeface1;
}

#root {
  height: 100%;
}

main {
  height:100%;
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $typeface1;
}

ul {
  padding: 0;
}
